body{
    background-color: black;
}
h1{
    color: yellow;
    text-align: center;
}

header {
    color: #fff;
    width: 100%;
    background-color: fuchsia;
}

.logo{
    color: greenyellow;
    text-align: center;
    font-size: 1.4em;
}

nav{
    color: greenyellow;
    text-align: center;
    font-size: 1.4em;
}

.banner{
    width: 100%;
}

.container{
    background-color: maroon;
    width: 80%;
    margin: auto;
}

footer{
    background-color: forestgreen;
    color: red;
    font-size: 1.4em;
    text-align: center;
}