html{
    scroll-behavior: smooth;
}
body{
    background-color:white;
    font-family: 'Josefin Sans',cursive;
}

header {
    width:100%;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menufixo{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;      
}

.menulink:hover{
    transition: 0.8s;
    color: darkred;
    font-size: 1.0em;
}

.logoimg{
    width: 25%;
    margin-top: 0px;
    text-align: center;
 }

.menu-opcoes{
    text-align: center;
    line-height: 2;
    text-align: center;
    color: #ff0000;
    font-size: 1.4em;
}


.banner{
    width: 100%;
}

.container{
    background-color:rgb(255, 255, 255);
    width: 80%;
    margin: auto;
}

h1{
    font-size: 1.5em;
    text-align: center;
    color: darkred
}

p{
    color: rgb(0, 0, 0);
    padding-top: 1%;
    padding-bottom: 0.5%;
    line-height: 1.5;
    text-align: justify;
    text-indent: 15px;
    font-size: 1.1em
} 

ul{
    line-height: 1.5;
}

li{
    font-size: 1.2em;
}

h2{
    text-align: center;
    font-size: 1.4em;
    color: black;
}

h3{
    font-size: 1.0em;
    text-align: center;
    color: rgb(0, 0, 0);
}

.banner{
    width: 100%;
}

.creatinaimg{
    float: right;
    padding-left: 2%;
  }

.wheyimg{
    padding-top: 1%;
}

.hiperimg{
    text-align: center;
}

.linha{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.col-6{
    width: 50%;
}

#curi{
    margin-bottom: 3%
}

#introducao{
    margin-bottom: 2.5%;
}

#blackskull{
    margin-bottom: 2.5%;
}

#creatina{
    margin-bottom: 2.5%;
}

#whey{
    margin-bottom: 2.5%;
}

#hipercalorico{
    margin-bottom: 6.5%;
}


/* Responsive layout - makes a one column layout instead of a two-column layout */

@media (max-width: 800px){

    .linha{
        flex-direction: column;
    }

    .col-6{
        width: 100%;
    }
}

@media (max-widht: 600px) {

    .banner {
        padding-top: 80%;
    }

    .logo {
        position: relative;
        text-align: center;
    }

    .logoimg{
        position: relative;
        text-align: center;
    }

    .container {
        display: column;
    }

}

@media (min-width: 611px){
    
    header{
        flex-direction: row;
    }    

    .menu-opcoes{
        position: absolute;
        right: 1%;
        top: 35%;
        width: 90%;
    }

    .menu-opcoes ul li{
        display: inline;
        margin-left: 1%;
    }

    .logo{
        padding-left: 1%;
        text-align: left;
        width: 30%;
    }

    .banner{
        margin-top: 9%;
    }

}    

.imagecard{
    background-image: linear-gradient(red,grey);
    width: 80%;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    box-shadow: 15px 15px 15px 2px, black
}

.card{
    background-image: linear-gradient(red,grey);
    width: 80%;
    border-style: solid;
    border-color: black;
    box-shadow:15px 15px 15px 2px, black
}

a{
    font-size: 0.6em;
}

table{
    font-family: 'Josefin Sans',cursive;
    width: 100%;
    border-collapse: collapse
}

td, th {
    font-size: 1.2em;
    text-align: left;
    padding: 8px;
    border: 1.5px solid black;
}

.listameio {
    list-style-image: url(../img/suplementolista.png);
    padding-left: 2%;
}

.suplementoimg{
    padding-left: 3.5%;
}

#tabela{
    margin-bottom: 3%;
}

figure{
    margin-bottom: 3%;
}

footer{
        width:100%;
        background-color: white;
        font-size: 1.4em;
        text-align: center;
}

/*CSS CONTATO*/

form {
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 0.5px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

button {
    background-color: darkred;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #000000;
}